<footer class="footer">
    <div class="row">
      <div class="col-3">
        <ul>
          <li><h1 class="footer-left text-footer-header">SHOP BY BRAND</h1></li>
          <li><button  class="text-left text-footer">Our story</button></li>
          <li><button href="#header" class="text-left text-footer">Careers</button></li>
          <li><button href="#header" class="text-left text-footer">Press</button></li>
          <li><button href="#header" class="text-left text-footer">Contact</button></li>
        </ul>
      </div>
      <div class="col-3">
        <h1 class="text-left text-footer-header">SHOP BY BRAND</h1>
      </div>
      <div class="col-3">
        <li><h1 class="text-left text-footer-header">SHOP BY BRAND</h1></li>
        <li>
          <select class="minimal">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </li>
      </div>
    </div>
</footer>
