<p>product works!</p>
<div class="container">
  <div class="row">
      <!-- <div class="col-3 product-container">
        <div class="product-photo-container">
          <a href="{{item.productId}}">
            <img class="product-photo raz" src="{{item.photo}}"/>
            <img class="product-photo dva" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-3-2.jpg" />
            <p class="product-name">{{item.productName}}</p>
          </a>
        </div>
        <div *ngIf="item.pricesBoolean">
          <p class="product-price">
            Average price: {{item.price}}
          </p>
        </div>
        <div *ngIf="!item.pricesBoolean">
          <p class="product-price">
            Price: {{item.price}}
          </p>
        </div>
      </div> -->
  </div>
</div>
