<div class="container">
  <div class="row">
    <div class="col-6 product-container">
      <div class="product-item">
        <img src="{{product.photo}}">
        <div class="product-list">
          <h3>{{product.name}}</h3>
          <a href="" class="button">In garbage</a>
        </div>
      </div>
    </div>
    <div class="col-6 product-container">
      <div>
        <a (click)="routeGroup(product.productGroupId)" class="price">Group: {{product.productGroupName}}</a>
        <p>Description: {{product.description}}</p>
      </div>
      <ng-template ngFor let-item [ngForOf]="pagePriceProduct">
        <table style="width: 100%;" >
          <tr style="border: 1px solid #000000;">
            <td>
              <a class="price" (click)="routeShop(item.id)" style="color:chocolate;">{{item.shopName}}</a>
            </td>
            <td>
              <p>Quantity in stock: {{item.numberProduct}}</p>
            </td>
            <td>
              <a class="price" (click)="routeShop(item.id)" >{{item.netPrice}}</a>
            </td>
          </tr>
        </table>
      </ng-template>
    </div>
    <div class="col-12 product-container">
      <label for="msg">Comments:</label>
      <ng-template ngFor let-item [ngForOf]="pageCommentProduct">
        <table style="width: 100%; border: 1px solid #000000;" >
          <tr>
            <td>
              <a class="btn" href="https://disqus.com/by/igorreutovinrussia/" style="color:brown;">{{item.userName}}</a>
            </td>
            <td>
              <p>{{item.departureDate}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>{{item.text}}</p>
            </td>
          </tr>
        </table>
      </ng-template>
      <div>
        <label for="msg">Your comments:</label>
      </div>
      <div>
        <textarea style="width: 100%; height: 200px;"></textarea>
      </div>
      <div>
        <button href="" class="btn" (click)="addComment()">Add Comment</button>
      </div>
    </div>
  </div>
</div>
