<section class="content">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-8 align-self-center">
        <div class="text-header-menu text-center">
            <ul class="nav nav-fill card-header-tabs">
              <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                <a class="nav-link" data-toggle="tab"(click)="toggleOn()" role="tab" aria-controls="component-1-1">Log In</a>
              </li>
              <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                <a class="nav-link" data-toggle="tab" (click)="toggleOff()" role="tab" aria-controls="component-1-2">Sign Up</a>
              </li>
            </ul>
          <div class="card-body" [style.display]="visibility?'block':'none'">
            <form #d="ngForm" (ngSubmit)="authenticationSubmit()">
              <div class="form-group">
                <input type="text" id="name" name="name" [(ngModel)]="userAuthentication.userName" class="form-control" placeholder="Your name" required autoFocus>
              </div>
              <div class="form-group">
                <input type="password" id="password" name="password" [(ngModel)]="userAuthentication.password" class="form-control" placeholder="Password" aria-describedby="passwordHelp" required>
              </div>
              <div class="col-12">
                <button href="" [disabled]="!d.form.valid" class="btn btn-primary btn-block">
                  Authentication
                </button>
              </div>
            </form>
          </div>
          <div class="card-body" [style.display]="!visibility?'block':'none'" >
            <form #f="ngForm" (ngSubmit)="registrationSubmit()">
            <div class="form-group">
              <input type="text" id="name" name="name" [(ngModel)]="userRegistration.userName" class="form-control" placeholder="Your name" required autoFocus>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="userRegistration.email" class="form-control" placeholder="Email address" email required>
                <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="userRegistration.password" class="form-control" placeholder="Password" password required>
                <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Min. 6 characters with at least one non alphanumeric character</small>
              </div>
              <div class="col-12">
                <button href="" [disabled]="!f.form.valid" class="btn btn-primary btn-block">
                  Create an account
                </button>
              </div>
            </form>
            <div *ngIf="error" class="alert alert-success" role="alert">
              <p>Your account has not been created.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
