<div class="header-picture">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 align-self-center">
        <div class="text-header-picture text-center">
          <h1 class="display-1 text-uppercase mb-3">Sale up <br>to 50%</h1>
          <p class="text-muted mb-3">Use code: <span class="text-white">SALE50</span></p>
          <ul class="grup-header-picture">
            <li class="mr-2 a-grup-header-picture"><a href="" class="a-underline">Women</a></li>
            <li class="mr-2 a-grup-header-picture"><a href="" class="a-underline">Men</a></li>
            <li class="mr-2 a-grup-header-picture"><a href="" class="a-underline">Kids</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mini-menu ">
  <div class="container">
    <ul class="grup-mini-menu container-mini-menu">
      <li><a class="a-grup-mini-menu" href="URL">WOMEN</a></li>
      <li><a class="a-grup-mini-menu" href="URL">MEN</a></li>
      <li><a class="a-grup-mini-menu" href="URL">KIDS</a></li>
    </ul>

    <div class="row">
      <div class="col-xl-2 col-md-6">
        <div class="text-center">
          <a href="URL" class="a-product-mini-menu">
            <div class="product-mini-container">
              <img class="photo-product-mini" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
            </div>
            <p class="text-product-mini" >Blouses</p>
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="text-center">
          <a href="URL" class="a-product-mini-menu">
            <div class="product-mini-container">
              <img class="photo-product-mini" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
            </div>
            <p class="text-product-mini" >Blouses</p>
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="text-center">
          <a href="URL" class="a-product-mini-menu">
            <div class="product-mini-container">
              <img class="photo-product-mini" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
            </div>
            <p class="text-product-mini" >Blouses</p>
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="text-center">
          <a href="URL" class="a-product-mini-menu">
            <div class="product-mini-container">
              <img class="photo-product-mini" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
            </div>
            <p class="text-product-mini" >Blouses</p>
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="text-center">
          <a href="URL" class="a-product-mini-menu">
            <div class="product-mini-container">
              <img class="photo-product-mini" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
            </div>
            <p class="text-product-mini" >Blouses</p>
          </a>
        </div>
      </div>
      <div class="col-xl-2 col-md-6">
        <div class="text-center">
          <a href="URL" class="a-product-mini-menu">
            <div class="product-mini-container">
              <img class="photo-product-mini" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
            </div>
            <p class="text-product-mini" >Blouses</p>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <a href="URL" class="a-underline">Discover more</a>
      </div>
    </div>
  </div>
</div>

<div class="top-product">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-left">SHOP BY BRAND</h2>
      </div>
      <div class="row">
        <div class="col-6">
          <h2 class="text-left">Trending Brands</h2>
        </div>
        <div class="col-6 my-text-right">
            <a href="URL" class="a-underline">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 product-container">
        <div class="product-photo-container">
          <img class="product-photo raz" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
          <img class="product-photo dva" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-3-2.jpg" />
          <p class="badge-success">New</p>
        </div>
      </div>
      <div class="col-4 product-container">
        <div class="product-photo-container">
          <img class="product-photo raz" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
          <img class="product-photo dva" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-3-2.jpg" />
          <p class="badge-success">New</p>
        </div>
      </div>
      <div class="col-4 product-container">
        <div class="product-photo-container">
          <img class="product-photo raz" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-1.jpg" alt="бебе" />
          <img class="product-photo dva" src="https://demo.htmlhunters.com/shopy/assets/images/demo/product-3-2.jpg" />
          <p class="badge-success">New</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="above-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-left">SHOP BY BRAND</h2>
      </div>
      <div class="row">
        <div class="col-6">
          <h2 class="text-left">Trending Brands</h2>
        </div>
        <div class="col-6 my-text-right">
            <a href="URL" class="a-underline">View More</a>
        </div>
      </div>
    </div>
  </div>


  <div class="carousel">
    <carousel [noWrap]="true" [isAnimated]="true" [singleSlideOffset]="true" [showIndicators]="false" [interval]="0" [itemsPerSlide]="4">
      <slide *ngFor="let slide of slides; let index=index">
          <img class="carousel-cell" [src]="slide.image" alt="image slide" >
      </slide>
    </carousel>
  </div>
</div>

<!-- [ngxScrollTo]="destinationRef" нужна для скрола в нужную точку экранна -->
