<section>
  <div class="container">
    <div class="row content-center">
        <h1 class="text-center">Shopping Cart</h1>
    </div>

    <div class="row">

      <!-- content -->
      <div class="col-lg-8">
        <div *ngFor="let product of this.products">
          <div class="row">
            <div class="col-md-6">
              <div class="product-item">
                <img src="{{product.productPhoto}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-10">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="cart-item-title">{{product.productName}}</h5>
                      <small class="cart-item-subtitle">{{product.shopName}}</small>
                        <p class="text-red">${{product.netPrice}}</p>
                        <p class="text-red">Ordered: {{product.numberProductinUserChoice}}</p>
                        <p class="text-red">Status: {{product.statusUserChoiceName}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="text-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- sidebar -->
      <aside class="col-lg-4">
        <h2 class="mb-3 text-uppercase fs-20">Order total</h2>
        <ul class="list-group list-group-minimal mb-3">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Items
            <span>${{sum}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Shipping
            <span>Free</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center text-uppercase font-weight-bold">
            Total to pay
            <span>${{sum}}</span>
          </li>
        </ul>
        <a href="" class="btn btn-primary btn-block">Checkout</a>
      </aside>
    </div>
  </div>
</section>
